<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Туры - Ardin</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/tours.css">
</head>

<body>
    <h1>Список туров</h1>

    {{#each hotels }}
    <div class="hotel">
        {{!-- <div class="hotel_img_block">
            {{#each hotelsPhotos }}
                {{#if ../this.id === this.hotel_id }}
                    <img src="{{this.img_src}}" alt="">
                    {{break}}

                {{/if}}
            {{/each}}
        </div> --}}
        <div class="hotel_info">
            <span> {{this.name}} </span> <br>
            <span>
                {{#switch this.country_id}}
                    {{#case 1}}Казахстан{{/case}}
                    {{#case 2}}Турция{{/case}}
                {{/switch}}
                ,{{#switch this.city_id}}
                    {{#case 1}}Нур-Султан{{/case}}
                    {{#case 2}}Алматы{{/case}}
                    {{#case 3}}Шымкент{{/case}}
                    {{#case 4}}Стамбул{{/case}}
                {{/switch}}
            </span> <br>
            <hr>
        </div>
    </div>

    {{/each}}
</body>

<script>
    console.log('PAGE IS LOADED')
    console.log("Hotels array: " )
</script>

</html>